ion-card-content {
    padding: 10px !important;
}
ion-card {
    box-shadow: none !important;
    margin-top: 0;
    background-color: #ECD6B4;
}
ion-item {
    padding-top: 20px;
}
ion-button {
    padding-left: 40px !important;
}
ion-button {
    --background : #C7592A;
}
ion-text {
    font-weight: 500;
    color: #000;
}
h2 {
    margin-bottom: 10px;
    font-size: larger;
    font-weight: 600;
}